# 1. SetUp

# 2. Import necessary libraries

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 500)

# 3. Define global variables

In [3]:
INPUT_PATH = "../Data_Project_Phase1/AviationData.csv"

# 4. Functions

# 5. Code

In [4]:
df = pd.read_csv(INPUT_PATH, encoding="latin-1")
df

C:\Users\Usuario\AppData\Local\Temp\ipykernel_25124\281516245.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(INPUT_PATH, encoding="latin-1")

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N1867H,PIPER,PA-28-151,No,NaN,NaN,091,NaN,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N2895Z,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,Non-Fatal,Substantial,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,091,NaN,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N210CU,CESSNA,210N,No,NaN,NaN,091,NaN,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N9026P,PIPER,PA-24-260,No,NaN,NaN,091,NaN,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [6]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
categorical_columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Engine.Type', 'FAR.Description', 'Schedule',
       'Purpose.of.flight', 'Air.carrier', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'],
      dtype='object')

In [7]:
numerical_columns = df.select_dtypes(include=['float']).columns
numerical_columns

Index(['Number.of.Engines', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured'],
      dtype='object')

- The categorial columns are: 
       'Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Engine.Type', 'FAR.Description', 'Schedule',
       'Purpose.of.flight', 'Air.carrier', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'
       
- The numerical columns are: 
       'Number.of.Engines', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured'

Now, I am going to clean the column names by making them be in lower case and using an underscore

In [8]:
df.columns = df.columns.str.lower().str.replace('.', '_')
df.columns

Index(['event_id', 'investigation_type', 'accident_number', 'event_date',
       'location', 'country', 'latitude', 'longitude', 'airport_code',
       'airport_name', 'injury_severity', 'aircraft_damage',
       'aircraft_category', 'registration_number', 'make', 'model',
       'amateur_built', 'number_of_engines', 'engine_type', 'far_description',
       'schedule', 'purpose_of_flight', 'air_carrier', 'total_fatal_injuries',
       'total_serious_injuries', 'total_minor_injuries', 'total_uninjured',
       'weather_condition', 'broad_phase_of_flight', 'report_status',
       'publication_date'],
      dtype='object')

In [9]:
df

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N1867H,PIPER,PA-28-151,No,NaN,NaN,091,NaN,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N2895Z,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,Non-Fatal,Substantial,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,091,NaN,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N210CU,CESSNA,210N,No,NaN,NaN,091,NaN,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N9026P,PIPER,PA-24-260,No,NaN,NaN,091,NaN,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

Checking for duplicates

In [10]:
df.duplicated().sum()

0

Searching for the primary key

In [11]:
df['event_id'].value_counts()

event_id
20001212X19172    3
20001214X45071    3
20220730105623    2
20051213X01965    2
20001212X16765    2
                 ..
20001211X14216    1
20001211X14239    1
20001211X14207    1
20001211X14204    1
20221230106513    1
Name: count, Length: 87951, dtype: int64

In [12]:
df['accident_number'].value_counts()

accident_number
CEN22LA149    2
WPR23LA041    2
WPR23LA045    2
DCA22WA214    2
DCA22WA089    2
             ..
LAX92FA065    1
ANC92T#A12    1
MIA92LA049    1
NYC92LA048    1
ERA23LA097    1
Name: count, Length: 88863, dtype: int64

In [13]:
df['registration_number'].value_counts()

registration_number
NONE      344
UNREG     126
UNK        13
USAF        9
N20752      8
         ...
N93478      1
N519UA      1
N8840W      1
N21040      1
N9026P      1
Name: count, Length: 79104, dtype: int64

In [14]:
df[df['accident_number']=='CEN22LA149']

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
87548,20220323104818,Accident,CEN22LA149,2022-03-18,"Grapevine, TX",United States,032530N,0097251W,DFW,Dallas Ft. Worth,Non-Fatal,Substantial,Airplane,N78SA,CESSNA,208B,No,1.0,Turbo Prop,135,NSCH,Business,MARTINAIRE AVIATION LLC,0.0,0.0,0.0,2.0,VMC,NaN,The failure of the pilot of the second aircraf...,05-07-2022
87549,20220323104818,Accident,CEN22LA149,2022-03-18,"Grapevine, TX",United States,032530N,0097251W,DFW,Dallas Ft. Worth,Non-Fatal,Substantial,Airplane,N9469B,CESSNA,208B,No,1.0,Reciprocating,135,NSCH,Business,MARTINAIRE AVIATION LLC,0.0,0.0,0.0,2.0,VMC,NaN,The failure of the pilot of the second aircraf...,05-07-2022

In [15]:
df['primary_key'] = df['accident_number'] + '_' + df['registration_number']
df

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,aircraft_damage,aircraft_category,registration_number,make,model,amateur_built,number_of_engines,engine_type,far_description,schedule,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date,primary_key
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,SEA87LA080_NC6404
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,LAX94LA336_N5069P
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,NYC07LA005_N5142R
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,LAX96LA321_N1168J
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,CHI79FA064_N15NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N1867H,PIPER,PA-28-151,No,NaN,NaN,091,NaN,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,ERA23LA093_N1867H
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N2895Z,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,ERA23LA095_N2895Z
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,Non-Fatal,Substantial,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,091,NaN,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,WPR23LA075_N749PJ
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N210CU,CESSNA,210N,No,NaN,NaN,091,NaN,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,WPR23LA076_N210CU
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,Minor,NaN,NaN,N9026P,PIPER,PA-24-260,No,NaN,NaN,091,NaN,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,ERA23LA097_N9026P

In [16]:
df['primary_key'].value_counts()

primary_key
SEA87LA080_NC6404     1
SEA05CA166_N2094K     1
CHI05CA172_N7446      1
DEN05CA122_N2584B     1
DEN05LA121_N5754S     1
                     ..
MIA91LA225_N2983U     1
ATL91LA180_N62108     1
ATL91LA181A_N26004    1
ATL91LA181B_N67174    1
ERA23LA097_N9026P     1
Name: count, Length: 87507, dtype: int64

We haven't found a primary key, but I have created one by combining 2 columns: accident_number and registration_number

In [17]:
df['investigation_type'].value_counts(normalize=True)

investigation_type
Accident    0.956418
Incident    0.043582
Name: proportion, dtype: float64

After doing some reasearch, we have noticed that an accident is a unintentional event that results in harm whereas an incident
although it might be unintentional doesn't necessarily result in harm

In [18]:
df['event_date'].min()

'1948-10-24'

In [19]:
df['event_date'].max()

'2022-12-29'

We have realized that we have accidents or incidents from 1948 to 2022

In [20]:
df['country'].value_counts(normalize=True)

country
United States                       0.927647
Brazil                              0.004218
Canada                              0.004049
Mexico                              0.004038
United Kingdom                      0.003880
                                      ...
Seychelles                          0.000011
Palau                               0.000011
Libya                               0.000011
Saint Vincent and the Grenadines    0.000011
Turks and Caicos Islands            0.000011
Name: proportion, Length: 219, dtype: float64

The majority of the events occur in USA

In [21]:
df['latitude'].isna().sum()

54507

In [22]:
df['longitude'].isna().sum()

54516

In [23]:
df = df.drop(['latitude','longitude'], axis=1)

I decide to drop latitude and longitude given that more than 60% of null values and they don't give much value either to the 
case study

In [24]:
df['airport_code'].isna().sum()

38757

In [25]:
df['airport_code'].value_counts(normalize=True)

airport_code
NONE    0.029682
PVT     0.009674
APA     0.003192
ORD     0.002972
MRI     0.002733
          ...
7NJ9    0.000020
CWV     0.000020
5QA     0.000020
M55     0.000020
EIKH    0.000020
Name: proportion, Length: 10374, dtype: float64

In [26]:
df['airport_name'].isna().sum()

36185

In [27]:
df['airport_name'].value_counts(normalize=True)

airport_name
Private                           0.004554
PRIVATE                           0.004250
Private Airstrip                  0.002903
NONE                              0.002770
PRIVATE STRIP                     0.002106
                                    ...
STEHEKIN                          0.000019
OTTAWA MUNICIPAL                  0.000019
DWIGHT AIRPORT                    0.000019
PHOENIX DEER VALLEY MUNI          0.000019
WICHITA DWIGHT D EISENHOWER NT    0.000019
Name: proportion, Length: 24870, dtype: float64

I decide to group all the categories that are private

In [37]:
df['airport_name'] = df['airport_name'].map(lambda x: 'Private' if isinstance(x,str) and 'private' in x.lower() else x)

In [38]:
df['airport_name'] = df['airport_name'].astype('category')

In [39]:
df['airport_name'].value_counts(normalize=True)

airport_name
Private                      0.022977
NONE                         0.002770
MERRILL FIELD                0.001575
VAN NUYS                     0.001537
MUNICIPAL                    0.001480
                               ...
HORIZON AIRPORT              0.000019
HORAN AIRPORT                0.000019
HOPPER FIELD                 0.000019
HOPKINSVILLE-CHRISTIAN CO    0.000019
Évora Airport                0.000019
Name: proportion, Length: 24621, dtype: float64

In [31]:
df['injury_severity'].value_counts(normalize=True)

injury_severity
Non-Fatal     0.766387
Fatal(1)      0.070168
Fatal         0.059871
Fatal(2)      0.042224
Incident      0.025248
                ...
Fatal(270)    0.000011
Fatal(60)     0.000011
Fatal(43)     0.000011
Fatal(143)    0.000011
Fatal(230)    0.000011
Name: proportion, Length: 109, dtype: float64

In [32]:
df['injury_severity'].isna().sum()

1000

In [33]:
df['injury_severity'] = df['injury_severity'].astype('category')

In [34]:
df['injury_severity'].unique()

['Fatal(2)', 'Fatal(4)', 'Fatal(3)', 'Fatal(1)', 'Non-Fatal', ..., 'Fatal(57)', 'Fatal', NaN, 'Minor', 'Serious']
Length: 110
Categories (109, object): ['Fatal', 'Fatal(1)', 'Fatal(10)', 'Fatal(102)', ..., 'Minor', 'Non-Fatal', 'Serious', 'Unavailable']

I am going to group all the Fatal injuries. First I'll change the type of the column to categorical

In [35]:
df['injury_severity'] = df['injury_severity'].map(lambda x: 'Fatal' if isinstance(x, str) and 'Fatal' in x else x)

In [36]:
df['injury_severity'].value_counts(normalize=True)

injury_severity
Fatal          0.969211
Incident       0.025248
Minor          0.002480
Serious        0.001968
Unavailable    0.001092
Name: proportion, dtype: float64

In [42]:
df['aircraft_damage'].value_counts(normalize=True)

aircraft_damage
Substantial    0.748562
Destroyed      0.217317
Minor          0.032732
Unknown        0.001389
Name: proportion, dtype: float64

As we can see the majority of the damages are substantial

In [43]:
df['aircraft_category'].value_counts(normalize=True)

aircraft_category
Airplane             0.855360
Helicopter           0.106544
Glider               0.015734
Balloon              0.007155
Gyrocraft            0.005358
Weight-Shift         0.004987
Powered Parachute    0.002818
Ultralight           0.000929
Unknown              0.000434
WSFT                 0.000279
Powered-Lift         0.000155
Blimp                0.000124
UNK                  0.000062
Rocket               0.000031
ULTR                 0.000031
Name: proportion, dtype: float64

I ran the code above to see all the aircraft categories

In [45]:
df['make'].value_counts(normalize=True)

make
Cessna             0.250231
Piper              0.135422
CESSNA             0.055412
Beech              0.048747
PIPER              0.031984
                     ...
Leonard Walters    0.000011
Maule Air Inc.     0.000011
Motley Vans        0.000011
Perlick            0.000011
ROYSE RALPH L      0.000011
Name: proportion, Length: 8237, dtype: float64

In [46]:
df['model'].value_counts(normalize=True)

model
152              0.026656
172              0.019775
172N             0.013109
PA-28-140        0.010496
150              0.009336
                   ...
GC-1-A           0.000011
737-3S3          0.000011
MBB-BK117-B2     0.000011
GLASSAIR GL25    0.000011
M-8 EAGLE        0.000011
Name: proportion, Length: 12318, dtype: float64

In [47]:
df['amateur_built'].value_counts(normalize=True)

amateur_built
No     0.904547
Yes    0.095453
Name: proportion, dtype: float64

We can't drive valuable conclusions from 'make', 'model', nor 'amateur_built' columns

In [44]:
df['number_of_engines'].value_counts(normalize=True)

number_of_engines
1.0    0.840312
2.0    0.133796
0.0    0.014806
3.0    0.005833
4.0    0.005205
8.0    0.000036
6.0    0.000012
Name: proportion, dtype: float64

It seems that the aircrafts with 1 motor have a higher chance of having an accident

In [48]:
df['engine_type'].value_counts(normalize=True)

engine_type
Reciprocating      0.850073
Turbo Shaft        0.044124
Turbo Prop         0.041458
Turbo Fan          0.030333
Unknown            0.025075
Turbo Jet          0.008595
Geared Turbofan    0.000147
Electric           0.000122
LR                 0.000024
NONE               0.000024
Hybrid Rocket      0.000012
UNK                0.000012
Name: proportion, dtype: float64

In [54]:
df[df['engine_type']=='Reciprocating' & df['number_of_engines']==1]

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

# 6. Results